.keyData {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 5px;
  height: 120px;
  width: 100%;

  & svg {
    margin-right: 20px;
  }

  & .values {
    display: flex;
    flex-direction: column;

    & span:first-child {
      color: #282d30;
      font-weight: 700;
      font-size: 20px;
    }

    & span:last-child {
      font-weight: 500;
      color: #74798c;
      font-size: 14px;
    }
  }
}

@media (max-width: 1150px) {
  .keyData {
    height: 70px;

    & svg {
      height: 30px;
      width: 30px;
    }

    & .values {
      & span:first-child {
        font-size: 15px;
      }
  
      & span:last-child {
        font-size: 11px;
      }
    }
  }
}
