.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .flex {
    display: flex;
    flex-grow: 1;

    & main {
      display: flex;
      flex-direction: column;
      padding: 30px 110px;
      width: 100%;
    }

    @media (max-width: 1300px) {
      main {
        padding: 20px 50px;
      }
    }

    @media (max-width: 1150px) {
      main {
        padding: 20px 20px;
      }
    }
  }
}
